{% extends 'cadastro/base.html' %}

{% block titulo %}Cadastro - Faça Contato{% endblock %}

{% block conteudo %}
<article>
    <h1>Faça Contato!</h1>
    <p>Red velvet</p>

  <p>Ingredientes
Massa
2 ½ xícaras de chá de farinha de trigo

2 xícaras de chá de açúcar

2 colheres de sopa de cacau em pó

2 colheres de chá de fermento químico em pó

2 ovos

1 ½ xícaras de chá de óleo vegetal

1 xícara de chá de iogurte grego

1 colher de sopa de vinagre

1 colher de chá de extrato de baunilha
Algumas gotas de corante alimentar vermelhoCobertura e recheio

300 g de cream cheese em temperatura ambiente

200 g de manteiga sem sal em temperatura ambiente

1 colher de chá de essência de baunilha
500 a 700 g de açúcar de confeiteiro

Preparo
Massa
<ol>

<li>Preaqueça o forno a 180º. Unte e enfarinhe três formas de bolo redondas de 18 cm.</li>

<li>Em uma tigela, misture os ovos, o óleo, o vinagre, a baunilha e o iogurte. Bata com um fouet (batedor de arame).</li>
<li>Em outra tigela, misture a farinha, o açúcar, o cacau e o fermento.</li>
<li>Junte as duas misturas, incorporando até homogeneizar.</li>
<li>No final, coloque três gotas de corante vermelho e mexa. Se ainda achar claro, acrescente mais gotas aos poucos. Tome cuidado, pois a massa tende a ficar mais escura depois de assada.</li>
<li>Divida a massa em formas, com quantidades iguais em cada uma. Asse por cerca de 30 minutos ou até que um palito inserido saia limpo. Retire do forno e deixe os bolos esfriarem antes de confeitar.</li>
<li>Cobertura e recheio</li>

<li>Em uma batedeira, na velocidade média, bata o cream cheese e a manteiga até ficar cremoso.
 Adicione baunilha e coloque, aos poucos, o açúcar até obter a textura desejada. Lembrando que quanto mais açúcar, mais firme vai ficar.
Montagem</li>

<li>Monte o bolo com uma camada de creme entre as massas.</li>

<li>Depois, cubra com o restante do creme.<li>
<li> com frutas vermelhas ou migalhas do próprio bolo</li>
</p>
</article>
{% endblock %}